#!/usr/bin/make -f

LC_ALL=C

%:
	dh $@

override_dh_auto_test:
	./debian/tests/check_words usr/share/petname/
	./debian/tests/check_words usr/share/petname/easy/
	./debian/tests/check_words usr/share/petname/complex/
	dh_auto_test
