#!/usr/bin/make -f

LC_ALL=C

%:
	dh $@

override_dh_auto_test:
	./debian/tests/check_words usr/share/petname/
	./debian/tests/check_words usr/share/petname/easy/
	./debian/tests/check_words usr/share/petname/complex/
	#groff -mandoc -Thtml usr/share/man/man1/petname.1 | pandoc --from=html --to=markdown_github > README.md
	dh_auto_test
